*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.pickle
*.log
*.pyc
OZW_Log.txt
home-assistant.log
jarvis.db
*.db-journal
*.db-shm
*.db-wal
JARVIS.DATA.EVENTS
JARVIS.DATA.STATES
secrets.yaml
config.yaml
secrets
known_devices.yaml
phue.conf
ios.conf
pyozw.sqlite
.uuid
ipchange.yaml
google.token
.google.token
.ios.conf
phue1.conf
shopping_list.json
.shopping_list.json
google_calendars.yaml
harmony_living_room.conf
config.php
scfd.php
passwords.cfg
deps
.pydevproject
.project
config.json
