#**********************************************************
#* CATEGORY    SECRETS
#* GROUP       HOME AUTOMATION
#* AUTHOR      LANCE HAYNIE <LANCE@HAYNIEMAIL.COM>
#**********************************************************
#Jarvis Home Automation
#Copyright 2020 Haynie IPHC, LLC
#Developed by Haynie Research & Development, LLC
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.#
#You may obtain a copy of the License at
#http://www.apache.org/licenses/LICENSE-2.0
#Unless required by applicable law or agreed to in writing, software
#distributed under the License is distributed on an "AS IS" BASIS,
#WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#See the License for the specific language governing permissions and
#limitations under the License.

#**********************************************************
# Base Config
#**********************************************************
home_address: 123 Main St. Anytown Anystate
latitude_home: 000.0000000
longitude_home: 000.0000000
elevation: 00
http_password: password
user_id: user
alarm_code: 0000
base_url: 10.10.10.10:8123
base_ip: 10.10.10.10

#**********************************************************
# Login Accounts
#**********************************************************
honeywell_user: user
honeywell_pass: pass

#**********************************************************
# API Keys
#**********************************************************
twilio_sid: TWILIOSID
twilio_token: TWILIOTOKEN

#**********************************************************
# Network Automation Variables
#**********************************************************
download_mbps_trigger: 15
upload_mbps_trigger: 3
ping_trigger: 100

#**********************************************************
# HVAC Automation Variables
#**********************************************************
max_hvac_temp: 78
min_hvac_temp: 68
hvac_set_temp_ac_day: 76
hvac_set_temp_heat_day: 73
hvac_set_temp_ac_night: 72
hvac_set_temp_heat_night: 70
hvac_outside_trigger_temp: 65

#**********************************************************
# Phone Numbers
#**********************************************************
twilio_from: +10000000000
lance_cell: +10000000000
katie_cell: +10000000000
hudson_cell: +10000000000
