#**********************************************************
#* CATEGORY    SECRETS
#* GROUP       HOME AUTOMATION
#* AUTHOR      LANCE HAYNIE <LANCE@HAYNIEMAIL.COM>
#**********************************************************
#Jarvis Home Automation
#Copyright (C) 2017  Haynie Research & Development

#This program is free software; you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation; either version 2 of the License, or
#(at your option) any later version.

#This program is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.

#You should have received a copy of the GNU General Public License along
#with this program; if not, write to the Free Software Foundation, Inc.,
#51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA

#**********************************************************
# Base Config
#**********************************************************
home_address:
latitude_home:
longitude_home:
elevation:
http_password:
alarm_code:
base_url: 10.0.1.200:8123
base_ip: 10.0.1.200

#**********************************************************
# Login Accounts
#**********************************************************
wink_email:
wink_password:
honeywell_user:
honeywell_pass:

#**********************************************************
# API Keys
#**********************************************************
darksky_key:
wunderground_key:
twilio_sid:
twilio_token:
ifttt_key:
msft_face:
google_id:
google_secret:

#**********************************************************
# Phone Numbers
#**********************************************************
twilio_from:
lance_cell:
katie_cell:
hudson_cell:
vickie_cell:
robert_cell:
barela_cell:
ryand_cell: 
