#**********************************************************
#* CATEGORY    SECRETS
#* GROUP       HOME AUTOMATION
#* AUTHOR      LANCE HAYNIE <LANCE@HAYNIEMAIL.COM>
#**********************************************************
#Jarvis Home Automation
#Copyright (C) 2017  Haynie Research & Development

#This program is free software; you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation; either version 2 of the License, or
#(at your option) any later version.

#This program is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.

#You should have received a copy of the GNU General Public License along
#with this program; if not, write to the Free Software Foundation, Inc.,
#51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA

#**********************************************************
# Base Config
#**********************************************************
home_address:
latitude_home: 000.0000000
longitude_home: 000.0000000
elevation: 00
http_password: password
alarm_code: 0000
base_url: 10.10.10.10:8123
base_ip: 10.10.10.10

#**********************************************************
# Login Accounts
#**********************************************************
wink_email: user@email.com
wink_password: password
honeywell_user: user@email.com
honeywell_pass: password

#**********************************************************
# API Keys
#**********************************************************
darksky_key: DARKSKYAPIKEY
wunderground_key: WUNDERGROUNDKEY
twilio_sid: TWILIOSID
twilio_token: TWILIOTOKEN
ifttt_key: IFTTTKEY
msft_face: MSFTFACEKEY
google_id: GOOGLEID
google_secret: GOOGLESECRET

#**********************************************************
# Phone Numbers
#**********************************************************
twilio_from: +10000000000
lance_cell: +10000000000
katie_cell: +10000000000
hudson_cell: +10000000000
vickie_cell: +10000000000
robert_cell: +10000000000
barela_cell: +10000000000
ryand_cell: +10000000000
