<?php
#**********************************************************
#* CATEGORY    SMS AUTOMATION
#* GROUP       HOME AUTOMATION
#* AUTHOR      LANCE HAYNIE <LANCE@HAYNIEMAIL.COM>
#**********************************************************
#Jarvis Home Automation
#Copyright 2020 Haynie IPHC, LLC
#Developed by Haynie Research & Development, LLC
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.#
#You may obtain a copy of the License at
#http://www.apache.org/licenses/LICENSE-2.0
#Unless required by applicable law or agreed to in writing, software
#distributed under the License is distributed on an "AS IS" BASIS,
#WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#See the License for the specific language governing permissions and
#limitations under the License.

$twilio_sid = '';
$twilio_token = '';

$validNumbers = array(
	"", //Lance
	"", //Katie
	"", //Vickie
	"", //Robert
	"" //Chris B.
//	"" //Hudson
);

$alertNumbers = array(
	"561-49", //NWS
	"+15303494355", //NWS
	"+16265392474", //NWS
	"+15306944687", //NWS
  "+14352720084" //NWS
);

$nwsRelayNumbers = array(
	"", //Lance
	"", //Katie
	"" //Hudson
);

$host = "http://10.0.1.200:8123/api/";
$password = "";
$passwordUrl = "?api_password=" . $password;
$fromNumber = "";

?>
